@import "./fonts.css";
@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #000100;
  --font-main: "Aspekta", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --text-xl: 39px;
  --text-xl--line-height: 120px;
}

@media (min-width: 1440px) {
  :root {
    --text-xl: 57px;
    --text-xl--line-height: 105px;
  }
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --font-main: var(--font-main);
  --text-xl: var(--text-xl);
  --text-xl--line-height: var(--text-xl--line-height);
}

@layer base {
  body {
    @apply bg-background;
  }
}
