---
Astro.response.headers.set(
  "Cache-Control",
  "public, s-maxage=60, stale-while-revalidate=300",
);

const currentTime = new Date().toLocaleString("pl-PL", {
  timeZone: "Europe/Warsaw",
});
// https://pagespeed.web.dev/analysis/https-consultations-app-production-pages-dev/gv86sq0zh6?form_factor=mobile
import MainLayout from "@/layouts/main.astro";
import { LayoutNavigation } from "@/components/layout/layout-navigation";
import HeroSection from "@/features/home/hero-section.astro";
import CategoriesSection from "@/features/home/categories-section.astro";
import AboutSection from "@/features/home/about-section.astro";
import { PublicationsSection } from "@/features/home/publications-section";
import PlansSection from "@/features/home/plans-section.astro";
import { MeetingSection } from "@/features/home/meeting-section";
import { TestimonialsSection } from "@/features/home/testimonials-section";
import { FaqSection } from "@/features/home/faq-section";
import { MaterialsSection } from "@/features/home/materials-section";
---
<MainLayout>
  <LayoutNavigation client:load />
  <main>
    <p>Strona wygenerowana o: {currentTime}</p>
    <HeroSection />
    <CategoriesSection />
	<div class="full-section">
		<AboutSection />
		<PublicationsSection />
	</div>
	<PlansSection />
	<MeetingSection client:visible />
	<MaterialsSection client:visible />
	<TestimonialsSection client:visible />
	<FaqSection client:visible />
  </main>
</MainLayout>
	<!-- <footer>
	  <div>
		<nav aria-label="Footer navigation">
		  <div>
			<h3>Mentoring</h3>
			<ul>
			  <li>
				<a href="/specjalizacje">Specjalizacje</a>
			  </li>
			  <li>
				<a href="/konsultacje">Konsultacje</a>
			  </li>
			  <li>
				<a href="/materialy">Materiały</a>
			  </li>
			</ul>
		  </div>
		  <div>
			<h3>Informacje</h3>
			<ul>
			  <li>
				<a href="/o-mnie">O mnie</a>
			  </li>
			  <li>
				<a href="/opinie">Opinie</a>
			  </li>
			  <li>
				<a href="/faq">FAQ</a>
			  </li>
			  <li>
				<a href="/kontakt">Kontakt</a>
			  </li>
			</ul>
		  </div>
		</nav>
		<div aria-label="Social media links">Social media icons/links</div>
	  </div>
	  <div>
		<p>Powered by GreenOn Software © 2025</p>
		<p>Design by Małgo Kruszyńska</p>
	  </div>
	</footer>  -->
